* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;;
}

/* header */
header {
    background-color: #0084fd;
    position: sticky;
    width: 100%;
    top: 0;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 65%;
    padding: 10px;
}
.container-header > .logo > img {
    width: 70%;
}
.container-header nav > ul {
    list-style: none;
    color: white;
    display: flex;
}
.container-header nav ul > li {
    margin-right: 20px;
    align-items: center;
}
.container-header nav ul > li:hover,button:hover,.logo {
    cursor: pointer;
}
nav > ul > button {
    color: black;
    border: none;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
}
.menu {
    display: none;
}


/* main - section */
/* section 1 */
.sec1 {
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}
.text-img-sec1 {
    background-color: #b5ddff;
    border-radius: 16px;
}
.sec1 > .icon-text-sec1 {
    width: calc((100% / 3) - 1em);
    border-radius: 16px;
    background-color: #b5ddff;
}
.sec1 > div:first-child {
    width: 65%;
    display: flex;
}
.sec1 > div:first-child > div:first-child {
    padding-left: 20px;
}
.sec1 .text > h3 {
    color: #0084fd;
}
.text > p  {
    margin: 14px 0;
    line-height: 25px;
}
.apple-store {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #0084fd;
    margin-top: 13px;
    padding: 6px 24px;
    width: 150px;
}
.img {
    padding-top: 60px;
    
}
.img > img {
    width: 80%;
    margin-bottom: -26px;
}

.icon-text-sec1 {
    text-align: center;
    padding: 20px;
}
.icon-sec1 {
    color: #0084fd;
    font-size: 60px;
    margin-top: 17px;
}
.text {
    text-align: left;
}
.icon-text-sec1 > h3 {
    color: #0084fd;
    margin: 12px 0px;
}
.icon-text-sec1 > p {
    font-size: 14px;
    line-height: 25px;
}


/* section 2 */
.sec2 {
    background-color: #9792e4;
    display: flex;
}
.container-sec2 {
    width: 55%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    padding: 0px 50px;
}
.img-txt-sec2, .card-sec2 {
    width: 50%;
}
.img-txt-sec2 {
    display: flex;
    flex-direction: column;
    color: white;
}
.img-txt-sec2 > div {
    flex-grow: 1;
}
.img-txt-sec2 > div:first-child {
    align-self: center;
}
.img-txt-sec2 > div:first-child > img {
    width: 300px;
    padding-top: 70px;
}
.img-txt-sec2 > div:last-child {
    margin-top: 40px;
}
.img-txt-sec2 > div:last-child > p {
    margin-top: 20px;
}

.card-sec2 {
    display: flex;
    padding-top: 200px;
    align-items: flex-end;
    justify-content: center;
}
.card-sec2 > div {
    width: 75%;
    background-color: white;
    min-height: 350px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
}
.card-sec2 > div > img {
    width: 150px;
    padding-top: 20px;
}
.card-sec2 > div > h4 {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.card-sec2 > div > p {
    margin-top: 8px;
    margin-bottom: 22px;
    font-style: italic;
    font-size: 12px;
    line-height: 25px;
}
.card-sec2 > div > span {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    padding: 10px 14px;
    background-color: #9792e4;
}





/* section 3 */
.container-sec3 {
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}
.container-sec3 > .text-sec3 {
    text-align: center;
}
.container-sec3 > .text-sec3 > h2 {
    margin: 12px 0px;
    color: #9792e4;
    font-size: 30px;
}
.card-sec3 {
    display: flex;
    background-color: #9792e4;
    margin-top: 20px;
    border-radius: 20px;
}
.img-sec3 {
    padding: 10px 0px;
}
.testimonial-1 {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    margin: 10px;
    background-image: url('../img/testimonial1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.testimonial-2 {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    margin: 10px;
    background-image: url('../img/testimonial2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.testimonial-3 {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    margin: 10px;
    background-image: url('../img/testimonial3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.txt-card-sec3 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}



/* section 4 */
.sec4 {
    min-height: 300px;
    background-color: #9792e4;
    padding-bottom: 40px;
}
.container-sec4 {
    width: 65%;
    margin: 0 auto;
}
.container-sec4 > h2 {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 18px;
}
.container-wrap-sec4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-wrap-sec4 > div {
    width: calc((100% / 3) - 0.5rem);
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    color: #9792e4;
    border-radius: 10px;
}
.container-wrap-sec4 > div > h2 {
    font-size: 50px;
    padding-bottom: 10px;
}
.container-wrap-sec4 > div > h4 {
    font-size: 20px;
    padding-bottom: 10px;
}
.container-wrap-sec4 > div > p {
    font-size: 15px;
    color: black;
}
.container-wrap-sec4 > div > button {
    color: white;
    background-color: #9792e4;
    padding: 4px 20px;
    border: none;
    border-radius: 16px;
    margin-top: 14px;
}


/* section 5 */
.sec5 {
    margin-top: 40px;
    min-height: 400px;
}
.container-sec5 {
    width: 65%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 70px;
}

.text-sec5 {
    width: 68%;
    min-height: 100px;
}
.text-sec5 > h2 {
    font-size: 50px;
    color: #9792e4;
}
.text-sec5 > p {
    line-height: 26px;
    margin-top: 20px;
}
.img-sec5 {
    width: 32%;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}
.image-about {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.title-button {
   width: 50%;
   margin: 0 auto; 
   margin-top: 10px;
}
.title-button > h4 {
    color: #9792e4;
    font-size: 19px;
}
.title-button > button {
    margin-top: 10px;
    background-color: #9792e4;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px;
}



/* section 6 */
.sec6 {
    background-color: #9792e4;
    min-height: 300px;
    padding-bottom: 40px;
}
.container-sec6 {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding-top: 14px;
    color: white;
}
.container-sec6 > h3 {
    font-size: 25px;
    margin-top: 12px;
}
.container-sec6 > h2 {
    color: #fdc15f;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 32px;
}
.container-sec6 > p:last-child {
    font-size: 13px;
}
.container-sec6 > button {
    margin-top: 12px;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: white;
    color: #9792e4;
    margin-top: 30px;
}
.container-sec6 > .copyright {
    font-size: 10px;
    margin-top: 20px;
}


/* footer */
footer {
    background-color: #333333;
}
.container-footer {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 30px;
}
.container-footer > p:last-child {
    padding-bottom: 30px;
    margin-top: 30px;
}
.container-footer > p > span {
    color: #7f7bbb;
    text-decoration: underline;
}


/* MEDIA QUERY */


/* medium - tablet */

@media screen and (max-width: 992px) {
    /* header */
    header {
        width: 100%;
    }
    .container-header > nav > ul {
        display: none;
    }
    .container-header > nav > span {
        display: block;
        color: white;
        font-size: 20px;
    }

    /* section 1 */
    .sec1 {
        margin-bottom: 60px;
    }
    .sec1 > div:first-child {
        display: block;
    }
    .text > p {
      padding-top: 20px;
    }
    .sec1 > .text-img-sec1 > .img > img {
        width: 200px;
        margin-left: 20px;
    }

    /* section 2 */
    .container-sec2 {
        display: flex;
        flex-wrap: wrap;
        width: 65%;
    }
    .img-txt-sec2 {
        width: 100%;
    }
    .img-txt-sec2 > div:first-child > img {
        width: 100%;
    }
    .img-txt-sec2 > div:last-child > h3 {
        font-size: 40px;
    }
    .img-txt-sec2 > div:last-child > p {
        font-size: 10px;
    }

    .card-sec2 {
        padding-top: 20px;
        width: 100%;
    }
    .card-sec2 > div {
        width: 100%;
        padding-bottom: 20px;
    }
    .card-sec2 > div > img {
        width: 80%;
    }

    /* section 4 */
    .container-wrap-sec4 {
        display: flex;
        width: 100%;
    }
    .container-wrap-sec4 > div {
        width: 49%;
        width: calc((100% / 2) - 0.5rem)
    }

    /* section 5 */
    .title-button {
        width: 80%;
    }
}


/* small - mobile */

@media screen and (max-width:768px) {
    /* header */

    /*section 1 */
    .sec1 {
        display: flex;
        flex-direction: column;
    }
    .sec1 > .icon-text-sec1 {
        width: 80%;
        margin: 0 auto;
    }


    /* section 2 */
    .container-sec2 {
        width: 65%;
    }
    .container-sec2 > .img-txt-sec2 
    > div:last-child > p {
        font-size: 20px;
        margin-top: 30px;
    }
    .card-sec2 > div {
        min-height: 50%;
    }


    /* section 3 */
    .container-sec3 > .text-sec3 > h2 {
        font-size: 30px;
    }
    .container-sec3 > .text-sec3 > p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 20px;
    }
    .card-sec3 {
        display: block;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .img-sec3 {
        display: flex;
        justify-content: center;
    }


    /* section 4 */
    .container-wrap-sec4 {
        display: flex;
        flex-direction: column;
       
    }
    .container-wrap-sec4 > div {
        width: 80%;
        margin: 0 auto;
        margin-top: 14px;
    }

    /* section 5 */
    .container-sec5 {
        display: block;
    }
    .container-sec5 > .text-sec5 {
        width: 65%;
        margin: 0 auto;
    }
    .container-sec5 > .img-sec5 {
        margin-left: 100px;
    }
}